@import "../../style.scss";

.sideBar {
  min-height: 100vh;
  border-right: 1px solid;
  padding: 10px 0;
  .sideBarTop {
    align-items: center;
    margin-bottom: 20px;
  }
  .title {
    font-size: 26px;
  }
  .btnFilter {
    background-color: $primary-color;
    border: none;
    width: 90%;
    margin-top: 20px;
  }
  .btnClr {
    background-color: $gray-color;
  }
  .total {
    font-size: 14px;
    color: $gray-color;
  }
  .head {
    font-weight: 600;
  }
  .checkBox {
    width: 22px;
    height: 22px;
    background-color: $primary-color;
    border-radius: 50%;
    font-size: 11px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.2s all ease-in-out;
  }
  .tagsWarp {
    width: 90%;
    margin: 25px 0;
    margin-top: 5px;
    .listGroup {
      max-height: 255px;
      overflow: scroll;
    }
    .listGroup::-webkit-scrollbar {
      width: 0px;
      height: 0;
    }
  }

  .inputWrap {
    overflow: hidden;
    width: 100%;
    input[type="number"] {
      border-radius: 10px;
      border: none;
      height: 50px;
      background-color: #f3f5f9;
      width: 100%;
      outline: none;
      padding: 0 10px;
    }
  }
}
